<p class="h1">•<span></span></p>

<p class="texto"><strong>Sr. Ademir Terin Junior</strong> desde <strong>28/02/1989</strong>. Solteiro. Moro sozinho no <strong>centro de São Paulo</strong>. <strong>CNH A/B</strong>. Bem humorado e extremamente sociável, pois <strong>peixes com ascendente em touro</strong>. Não sou fumante!</p>

<p class="texto esconde-desktop">Se você quiser acessar meu Facebook é só chacoalhar o celular que você será redirecionado.</p>


<p class="texto">Vou tentar ser o mais detalhista ao que se refere meu trabalho, assim não perdemos tanto tempo com entrevistas e telefonemas: crio layouts seja ele web ou mobile, desenvolvo todo o wireframe (o entra-e-sai da aplicação/website) e além disso tenho sólido conhecimento com HTML5 e CSS3 (animação em webkit foi a melhor coisa que ja inventaram) o que facilita na hora de dar uma ideia na interação usuário-aplicação. Quanto ao uso de frameworks como Bootstrap ou qualquer outro CSS, e libs baseadas em Javascript (Jquery ou Materialize por exemplo): deixa comigo que eu manjo! Também tenho uma base legal com Javascript. Aliás, tenho um TOC fortíssimo quanto à organização dos meus códigos, então pode ficar tranquilo que todo mundo que for desenvolver posteriormente não vai sofrer na minha mão! Meu modus operandi é desenvolver rápido e de maneira leve, visto que web hoje tem todos os holofotes voltados para conteúdo. Já reparou no layout do Medium.com? Eu acho aquilo incrível!</p>

<p class="texto">Apesar de não ser um mago do PHP (Stackoverflow é meu guru), sou um usuário xiita do Wordpress, tendo desenvolvido alguns layouts originais baseado no Bones (apenas me dê um servidor VPS e eu me viro instalando e configurando a máquina com Nginx, PHP, MySQL, etc., sem dores de cabeça!). Ah sim: também já fiz algumas experiências com sistemas de e-learning on-demand (Sensei), WooCommerce e plugins para exportação/importação de produtos baseados em tabelas de Excel caso apareça um cliente querendo abrir um e-commerce que possui 29485 produtos.</p>


<p class="texto">Nesse dado momento estou estudando bastante o uso do Angular (já consigo fazer um site onepage extremamente veloz!) pra posteriormente desenvolver em NodeJS ou focar em novos módulos voltados para o front-end. Sou extremamente aficionado por essa nova onda de programação leve e robusta baseadada em Javascript server-side.</p>


<p class="texto">Atualmente meu foco é trabalhar em uma empresa da qual futuramente possa me engajar em campanhas e projetos criativos para web, desde uma ideia para um aplicativo, tipografia e escolha de linguagem para o desenvolvimento do mesmo. Perco horas pesquisando por bibliotecas em Javascript que operam milagres e que acima de tudo ainda proporcione tal experiência em dispositivos móveis.</p>


<p class="texto">Resumindo: não me prendo particularmente à códigos e termos técnicos. Prefiro sempre visualizar a toda experiência daquilo que desenvolvo e acompanhar pequenos detalhes buscando incorporar a ótica do usuário final.</p>


<p class="texto">Todo caso, também possuo facilidade com escrita criativa. Podemos conversar sobre como isso pode interessante para nó$ ;)
</p>
