<p class="h1">•<span></span></p>
<p class="texto">• <span class="item">WordPress</span><span class="descricao">E-learning (Sensei) / E-commerce (WooCommerce) / Desenvolvimento ou alterações de layout e plugin</span></p>
<p class="texto">• <span class="item">HTML5</span></p>
<p class="texto">• <span class="item">CSS3</span><span class="descricao">Noção de SASS / LESS</span></p>
<p class="texto">• <span class="item">JavaScript</span></p>
<p class="texto">• <span class="item">jQuery</span></p>
<p class="texto">• <span class="item">Bootstrap</span></p>
<p class="texto">• <span class="item">AngularJS</span><span class="descricao">Básico</span></p>
<p class="texto">• <span class="item">PHP</span><span class="descricao">Básico, praticamente apenas reaproveitamento de código e Stackoverflow!</span></p>
<p class="texto">• <span class="item">Versionamento GIT</span></p>
<p class="texto">• <span class="item">LEMP</span></p>
</p>
