<div>
  <ul class="contato list-unstyled">
    <li>
      <h2>juniorterin <strong>@</strong> gmail . com</h2>
    </li>
    <li>
      <h2><svg class="icones"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map-marker-icon"></use></svg> <strong>Mooca</strong>, São Paulo</h2>
    </li>
    <li>
      <h2><svg class="icones"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#500px-icon"></use></svg> <a href="https://500px.com/ademirterinjunior" target="_blank">/ademirterinjunior</a></h2>
    </li>
    <li>
      <h2><svg class="icones"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram-icon"></use></svg> <a href="http://www.instagram.com/juniorterin" target="_blank">/juniorterin</a></h2>
    </li>
    <li>
      <h2><svg class="icones"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin-icon"></use></svg> <a href="https://br.linkedin.com/in/ademir-terin-junior-46771654" target="_blank">Ademir Terin Junior</a></h2>
    </li>
    <li>
      <h2><svg class="icones"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook-icon"></use></svg> <a href="http://facebook.com/juniorterin0">/juniorterin</a></h2>
    </li>
  </ul>
  <div class="visible-xs" translate="CONTACT_TEXT"></div>
</div>
