<div>
  <ul class="projetos list-unstyled">
    <li>
      <h2>Blog Inciclo <a href="http://blog.inciclo.com.br" target="_blank"><svg class="icones"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-source-icon"></use></svg></a></h2>
      <div translate="BLOG_INCICLO_TEXT"></div>
    </li>
    <li>
      <h2>Techware <a href="http://www.techware.com.br" target="_blank"><svg class="icones"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-source-icon"></use></svg></a></h2>
      <div translate="TECHWARE_TEXT"></div>
    </li>
    <li>
      <h2>Patricia Bornato <a href="http://www.patriciabornato.com.br" target="_blank"><svg class="icones"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-source-icon"></use></svg></a></h2>
      <div translate="PATRICIA_TEXT"></div>
    </li>
    <li>
      <h2>Agência Mak <a href="http://www.agenciamak.com.br" target="_blank"><svg class="icones"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-source-icon"></use></svg></a></h2>
      <div translate="MAK_TEXT"></div>
    </li>
    <li>
      <h2>Mapclass <a href="http://mapclass.xxx" target="_blank"><svg class="icones"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-source-icon"></use></svg></a></h2>
      <div translate="MAPCLASS_TEXT"></div>
    </li>
  </ul>
</div>
