<div>
  <ul class='habilidades list-unstyled'>
    <li>
      <h2>WordPress</h2>
      <div>
        <p>ACF Pro, WooCommerce</p>
      </div>
    </li>
    <li>
      <h2>HTML5</h2>
    </li>
    <li>
      <h2>CSS3</h2>
      <div>
        <p>SASS / Stylus</p>
      </div>
    </li>
    <li>
      <h2>JavaScript</h2>
    </li>
    <li>
      <h2>jQuery</h2>
    </li>
    <li>
      <h2>Taskrunners</h2>
      <div>
        <p translate="TASKRUNNERS_SKILL"></p>
      </div>
    </li>
    <li>
      <h2>Bootstrap</h2>
      <div>
        <p translate="BOOTSTRAP_SKILL"></p>
      </div>
    </li>
    <li>
      <h2>AngularJS</h2>
      <div>
        <p translate="BASIC">Básico</p>
      </div>
    </li>
    <li>
      <h2>PHP</h2>
      <div>
        <p translate="BASIC"></p>
      </div>
    </li>
    <li>
      <h2 translate="VCS"></h2>
      <div>
        <p>BitBucket</p>
      </div>
    </li>
    <li>
      <h2>LEMP Stack</h2>
    </li>
  </ul>
</div>
