<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<p class="h1">•<span></span></p>
<p class="texto"><i class="fa fa-envelope"></i> <span class="item">juniorterin <strong>@</strong> gmail.com</span></p>
<p class="texto"><i class="fa fa-phone"></i> <span class="item">0 <strong>19</strong> 9 81 21 19 51</span></p>
<p class="texto"><i class="fa fa-map-marker"></i> <span class="item">Rua Álvaro, <strong>Centro</strong>, São Paulo</span></p>
<p class="texto"><i class="fa fa-500px"></i> <span class="item"><a href="https://500px.com/ademirterinjunior"  target="_blank">/ademirterinjunior</a></span></p>
<p class="texto"><i class="fa fa-instagram"></i> <span class="item">/juniorterin</span></p>
<p class="texto"><i class="fa fa-linkedin-square"></i> <span class="item"><a href="https://br.linkedin.com/in/ademir-terin-junior-46771654"  target="_blank">
Ademir Terin Junior</a></span></p>
<p class="texto"><i class="fa fa-facebook-square"></i> <span class="item">/juniorterin0 </br><strong class="esconde-desktop">Chacoalhe o celular para ser redirecionado</strong></span></p>
