<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<p class="h1">•<span></span></p>
<p class="texto"><i class="fa fa-code"></i> <span class="item">Coisa Filmes</span>
	<span class="descricao">Layout criado pelo pessoal da agência Preza de Porto Alegre para uma pequena produtora de vídeos em stop-motion. O fóco principal foi o uso da biblioteca <a href="https://github.com/alvarotrigo/fullPage.js" target="_blank">fullPage.js</a> para criar uma páginas totalmente fullscreen que interagem com o scroll/touch, proporcionando imersão ao conteúdo apresentado. Conheça clicando <a href="http://www.coisafilmes.com.br" target="_blank">aqui</a>.</span>
</p>
 